# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
scripts/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# Virtual environments
venv/
env/
.env
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Local development
.DS_Store

